@model MiniProject004.Models.Flower

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Flower</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ENGName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ENGName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GERName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GERName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.POLName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.POLName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
